In [15]:
from sqlalchemy import *
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd

class PostgresConnection:
    def __init__(self, username, password, host, port, db_name):
        conn_url = f'postgresql://{username}:{password}@{host}:{port}/{db_name}'
        self.engine = create_engine(conn_url)

    def execute_query(self, query, params=None, fetch=True):
        try:
            with self.engine.connect() as connection:
                result = connection.execute(text(query), params or {})

                if fetch and query.strip().lower().startswith("select"):
                    return result.fetchall()
                else:
                    connection.commit()
                    return None
        except SQLAlchemyError as e:
            print(f"Database Error as {e}")
            return None

    def close(self):
        self.engine.dispose()

In [8]:
demo = PostgresConnection(
    username = "admin", 
    password = "admin", 
    host = "postgres_db", 
    port = 5432, 
    db_name = "demo"
)

In [9]:
df = pd.read_csv('https://gist.githubusercontent.com/kevin336/acbb2271e66c10a5b73aacf82ca82784/raw/e38afe62e088394d61ed30884dd50a6826eee0a8/employees.csv')
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20

In [13]:
print(pd.io.sql.get_schema(df, name='employees', con=demo))

CREATE TABLE "employees" (
"EMPLOYEE_ID" INTEGER,
  "FIRST_NAME" TEXT,
  "LAST_NAME" TEXT,
  "EMAIL" TEXT,
  "PHONE_NUMBER" TEXT,
  "HIRE_DATE" TEXT,
  "JOB_ID" TEXT,
  "SALARY" INTEGER,
  "COMMISSION_PCT" TEXT,
  "MANAGER_ID" TEXT,
  "DEPARTMENT_ID" INTEGER
)

/tmp/ipykernel_2153/737507753.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.io.sql.get_schema(df, name='employees', con=demo))

In [16]:
df.head(n=0).to_sql(name='employes', con=demo, if_exists='replace', index=False)

/tmp/ipykernel_2153/3909709727.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.head(n=0).to_sql(name='employes', con=demo, if_exists='replace', index=False)

AttributeError: 'PostgresConnection' object has no attribute 'cursor'